<%= render "shared/login_nav" %>
<%= render "layouts/flash" %>

<div class="container d-flex justify-content-center mt-5">
  <div class="p-4 border rounded shadow bg-white" style="min-width: 400px;">
    <h2 class="text-dark mb-4 text-center">Login form</h2>

    <%= form_with model: @user, url: '/session', method: :post do |form| %>

      <div class="mb-3">
        <%= form.label :combined_value, 'Enter your Email or Phone number' %>
        <%= form.text_field :combined_value, value: params.dig(:user, :combined_value), class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :password %>
        <%= form.password_field :password, class: "form-control" %>
      </div>

      <div class="mb-3 col-sm-4">
        <%= form.submit "Submit", class: "btn btn-success" %>
      </div>

    <% end %>
  </div>
</div>
