
<%= render  "shared/post_nav"%>
<div class="container d-flex justify-content-center mt-5">
  <div class="p-4 border rounded shadow bg-white" style="min-width: 400px;">
    <h2 class="text-dark mb-4 text-center"><%= @user.name%> </h2>
    <%= form_with  do |form|%>
      <div class="mb-3 text-center">
        <% if @user.image.attached?%>
        <%= image_tag @user.image ,size:'120x100', class: "rounded-circle w-25"%>
        <% end %>
      </div>
      <div class="mb-3 list-inline text-center">
        <span class="list-inline-item">
          <%= link_to "posts :", user_posts_path(user_id: @user.id), class:"text-decoration-none text-dark"%>
          <%= @user.posts_count%>
        </span>
        <span class="list-inline-item">
          <%= link_to "Followers :", user_follow_users_path(following_id: @user.id), class:"text-decoration-none text-dark"%>
          <%= @user.followers.count%>
        </span>
        <span class="list-inline-item">
          <%= link_to "Following :", user_following_users_path(user_id: @user.id), class:"text-decoration-none text-dark"%> 
          <%= @user.followings.count%>
        </span>
      </div>
      <div class="mb-3 text-center">
        <%= form.label "email:"%>
        <%= @user.email %>
      </div>
      <div class="mb-3 text-center">
        <% if @user.bio.present?%>
          <%= form.label "bio:"%>
          <%= @user.bio%>
        <% else %>
        <% end %>
      </div>
      <div class="mb-3 text-center">
        <%= form.label "phone:"%>
        <%= @user.phone %>
      </div>
      <div class="mb-3 list-inline text-center">
        <% if @user.id == @current_user.id%>
          <span class="list-inline-item"><%= link_to "Edit" , edit_user_path(@user),class: "btn btn-secondary inline"%></span>
          <span class="list-inline-item "><%= link_to "Delete" , user_path(@user), data: { turbo_method: :delete,turbo_confirm: "Are you sure?"},class:'btn btn-secondary' %></span>
          <span class="list-inline-item"><%= link_to "Log out", session_path(@user), data:  { turbo_method: :delete,  turbo_confirm: "Are you sure?" },class: "btn btn-secondary inline" %>
          </span>
          <% end %>
      </div>
    <% end %>
  </div>
</div>