
<%= render  "shared/post_nav"%>
<%= render "layouts/flash" %>

<div class="container d-flex justify-content-center mt-5">
  <div class="p-4 border rounded shadow bg-white" style="min-width: 400px;">
    <h2 class="text-dark mb-4 text-center">Welcome <br> <%= @current_user.name%> </h2>
      <%= form_with  do |form|%>

        <div class="mb-3 text-center">
          <% if @user.image.attached?%>
          <%= image_tag @user.image ,size:'120x100', class: "rounded-circle w-25"%>
          <% end %>
        </div>

         <div class="mb-3 list-inline text-center">
        <li class="list-inline-item">posts :<%= @current_user.posts.count(:id)%></li>
        <li class="list-inline-item">Followers :<%= @current_user.posts.count(:id)%></li>
        <li class="list-inline-item">Following :<%= @current_user.posts.count(:id)%></li>
        </div>

        <div class="mb-3 text-center">
        <%= form.label "email:"%>
        <%= @user.email %>
        </div>

        <div class="mb-3 text-center">
          <%= form.label "bio:"%>
          <%= @user.bio%>
        </div>

        <div class="mb-3 text-center">
          <%= form.label "phone:"%>
          <%= @user.phone %>
        </div>

        <ul class="list-inline text-center">
          <li class="list-inline-item"><%= link_to "Edit" , edit_user_path(@user),class: "btn btn-secondary inline"%></li>
          <li class="list-inline-item "><%= link_to "Delete" , user_path(@user), data: { turbo_method: :delete,turbo_confirm: "Are you sure?"},class:'btn btn-secondary' %></li>
          <li class="list-inline-item"><%= link_to "Log out", session_path(@user), data:  { turbo_method: :delete,  turbo_confirm: "Are you sure?" },class: "btn btn-secondary inline" %></li>
        </ul>
      <% end %>
  </div>
</div>