
<%= render  "shared/post_nav"%>
<div class="container d-flex justify-content-center mt-5">
  <div class="p-4 border rounded shadow bg-white" style="min-width: 400px;">
    <h2 class="text-dark mb-4 text-center"><br> <%= @user.name%> </h2>
      <%= form_with  do |form|%>

        <div class="mb-3 text-center">
          <% if @user.image.attached?%>
          <%= image_tag @user.image ,size:'120x100', class: "rounded-circle w-25"%>
          <% end %>
        </div>

         <div class="mb-3 list-inline text-center">
        <li class="list-inline-item">
          <%= link_to "posts :", posts_path(@post), class:"text-decoration-none text-dark"%>
          <%= @user.posts_count%></li>
        <li class="list-inline-item">
          <%= link_to "Followers :",follow_users_path, class:"text-decoration-none text-dark"%>
          <%= @user.followers.count%></li>
        <li class="list-inline-item">
           <%= link_to "Following :", following_path, class:"text-decoration-none text-dark"%> 
          <%= @user.followings.count%></li>
        </div>

        <div class="mb-3 text-center">
        <%= form.label "email:"%>
        <%= @user.email %>
        </div>

        <div class="mb-3 text-center">
          <% if @user.bio.present?%>
          <%= form.label "bio:"%>
          <%= @user.bio%>
          <% else %>
          <% end %>
        </div>

        <div class="mb-3 text-center">
          <%= form.label "phone:"%>
          <%= @user.phone %>
        </div>
      <% end %>
  </div>
</div>