
<%= render  "shared/post_nav"%>

<div class='posts-container d-flex flex-column mt-3 p-3 container-sm align-items-center' style="gap: 30px">
  <% @posts.each do |post|%>
    <div class="post-container d-flex flex-column p-3 border rounded shadow-sm w-100" style="gap: 15px; max-width: 590px;">
      <div class="user-detail d-flex align-items-center border rounded shadow-sm w-100 " style="gap: 10px;">      
        <div class="user-image m-2">
          <%= link_to user_path(post.user_id) do %>
          <%= image_tag post.user.image.variant(resize_to_limit: [200,200]),  class: 'rounded-circle', width: '50', height: '50' %>  
          <% end %> 
        </div>
        <div class="user-name fw-semibold" style="flex-grow: 1">
          <%= link_to  post.user.name, user_path(post.user_id),class: 'text-decoration-none text-dark'%>   
        </div>
           <%= render 'users/follow_button',  user: post.user %>
      </div>  
      <div class="post-detail">
        <div class="post-title fs-4 fw-semibold">
          <%= link_to  post.title, post_path(post),class: 'text-decoration-none text-dark'%>
        </div>
        <div class="post-images d-flex" style="gap: 5px">
          <% post.images.each do |image| %>
            <div class="post-image">
              <%= image_tag image.variant(resize_to_limit: [300,300]),size:"135x135" %>
            </div>
          <% end %>
        </div>
      </div>
      <%= render "posts/post_action", post: post%>
    </div>
  <% end %>
</div>

<%= will_paginate @posts%>