
<%= render  "shared/post_nav"%>

<div class='posts-container d-flex flex-column mt-3 p-3 container-sm align-items-center' style="gap: 30px">
  <% @posts.each do |post|%>
    <div class="post-container d-flex flex-column p-3 border rounded shadow-sm w-100" style="gap: 15px; max-width: 600px;">
      <div class="user-detail d-flex align-items-center border rounded shadow-sm w-100" style="gap: 10px">  		
      	<div class="user-image">
          <%= image_tag post.user.image.variant(resize_to_limit: [200,200]), class: 'rounded-circle', width: '60', height: '60' %>   
        </div>
  			<div class="user-name fw-semibold">
          <%= post.user.name %>   
        </div>
        <div class="follow-btn" style="padding-left: 55%"> 
           <%= link_to  user_follows_path(post.user.id), data: { turbo_method: :post, turbo_confirm: "follow?"}, class:"btn btn-sm btn-secondary" do %>follow
        <% end %>
        </div>
      </div>	
  		<div class="post-detail">
        <div class="post-title fs-4 fw-semibold">
          <%= link_to  post.title, post_path(post),class: 'text-decoration-none text-dark'%>
    		</div>
  			<div class="post-images d-flex" style="gap: 5px">
          <% post.images.each do |image| %>
    				<div class="post-image">
              <%= image_tag image.variant(resize_to_limit: [300,300]),size:"100x100" %>
            </div>
          <% end %>
  			</div>
      </div>
      <div class="post-action mt-2">

        <% if post.likes.exists?(user_id: @current_user.id)%>
        <%= link_to post_like_path(post, post.likes.find_by(user: @current_user)), data: { turbo_method: :delete, turbo_confirm: "Unlike?"}, class: 'bi bi-hand-thumbs-down text-decoration-none text-dark' do %>
        <% end %>

        <% else %>
        <%= link_to  post_likes_path(post), method: :post, class:"like-btn" do %>
          <i class="bi bi-hand-thumbs-up text-decoration-none text-dark"></i>
        <% end %>
        <% end %>
        
        <%= link_to post_comments_path(post) ,data: { turbo_method: :get} do %>
          <i class="bi bi-chat text-decoration-none text-dark" style="padding-left: 58px;"></i>
        <% end %>
        <div class="post-action mt-0">
          <span style="font-size: 15px;">Likes:<%= post.likes_count %></span>
          <span style="font-size: 15px;">Comments:<%= post.comments_count %></span>
        </div>
      </div>
  	</div>
  <% end %>
</div>

<script>
$(document).ready(function(){
 
  $(".like-btn").click(function(){
   event.preventDefault();
   var urls = $(this).attr('href')
    
    $.ajax({url: urls, type:"post", success: function(){
      alert('Liked successfully');
    }});
  });
});
</script>